kofi_workflow.json
{"updatedAt":"2025-11-12T06:31:03.000Z","createdAt":"2025-11-06T05:24:51.685Z","id":"4hGxocGduyuUiNh0","name":"Ko-fi Community Management","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# Main Workflow","height":80,"width":5376,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-1072],"id":"eeed9cdc-5e81-4c36-a0f8-e5691f00cd3c","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"e08e9307-30e0-4e3c-916b-aa518a0fe9a1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-688],"id":"fe7c0b56-4c5e-4f9b-b2bc-6734ba6b3f86","name":"Webhook -> Payment Received","webhookId":"e08e9307-30e0-4e3c-916b-aa518a0fe9a1"},{"parameters":{"documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"E-Mail","lookupValue":"={{ $json.body.data.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,-496],"id":"b86cc5f4-b533-439b-9a07-1a6325fa3ea1","name":"Row → Get User Record","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}}},{"parameters":{"assignments":{"assignments":[{"id":"d830c2be-8edc-465f-a35d-bfbecb8e8e63","name":"tallyFormURL","value":"=https://tally.so/r/nrx0Ql?transactionID={{ $json['Transaction ID'] }}&name={{ encodeURIComponent($json.User) }}&email={{ encodeURIComponent($json['E-Mail']) }}&membershipTier={{ encodeURIComponent($json.Tier) }}&discordUsername={{ encodeURIComponent($json['Discord Username'] ? $json['Discord Username'] : 'null' ) }}&discordID={{ encodeURIComponent($json['Discord ID'] ? $json['Discord ID'] : 'null') }}","type":"string"},{"id":"87fb9102-93f3-4f3b-ac86-dd854b0d7de3","name":"membershipTier","value":"={{ $json.Tier }}","type":"string"},{"id":"780ea5d4-4fab-4491-b995-fae197826782","name":"email","value":"={{ $json['E-Mail'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,-880],"id":"1b6c0c97-2b1c-44bb-b8f7-2c1d4cfe8513","name":"Variables → Set Welcome Mail Values"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Welcome to the zonixx Squad 🔥","message":"=<!DOCTYPE html>\n<html lang=\"de\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Welcome to the zonixx Squad 🔥</title>\n    <style>\n      body {\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,\n          'Helvetica Neue', Arial, sans-serif;\n        background-color: #0a0a0a;\n        color: #ffffff;\n        justify-items: center;\n      }\n      .container {\n        max-width: 720px;\n        margin: 0 auto;\n        background-color: #0a0a0a;\n      }\n      .header {\n        background: linear-gradient(135deg, #000000 0%, #1a1a1a 100%);\n        max-width: 100%;\n        padding: 60px 20px 40px;\n        text-align: center;\n        position: relative;\n      }\n      .header::before {\n        content: '';\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        height: 4px;\n        background: linear-gradient(90deg, #ff6b35 0%, #ff8c42 100%);\n      }\n      .logo-text {\n        font-size: 14px;\n        letter-spacing: 3px;\n        color: #666;\n        margin-bottom: 20px;\n        font-weight: 600;\n      }\n      .header h1 {\n        color: #ffffff;\n        margin: 0;\n        font-size: 42px;\n        font-weight: 900;\n        line-height: 1.1;\n        text-transform: uppercase;\n      }\n      .header .legacy {\n        color: #ff6b35;\n      }\n      .subheading {\n        font-size: 12px;\n        letter-spacing: 2px;\n        color: #ff6b35;\n        margin-top: 30px;\n        font-weight: 700;\n        text-transform: uppercase;\n      }\n      .content {\n        padding: 40px 30px;\n        color: #cccccc;\n        line-height: 1.8;\n      }\n      .greeting {\n        font-size: 18px;\n        font-weight: 700;\n        margin-bottom: 25px;\n        color: #ffffff;\n        text-transform: uppercase;\n        letter-spacing: 1px;\n      }\n      .content p {\n        margin-bottom: 20px;\n        font-size: 15px;\n      }\n      .cta-button {\n        display: inline-block;\n        background: linear-gradient(90deg, #ff6b35 0%, #ff8c42 100%);\n        color: #000000 !important;\n        text-decoration: none;\n        padding: 18px 40px;\n        border-radius: 0;\n        font-weight: 900;\n        margin: 30px 0;\n        transition: all 0.3s;\n        text-transform: uppercase;\n        letter-spacing: 2px;\n        font-size: 14px;\n        border: none;\n      }\n      .cta-button:hover {\n        transform: translateY(-2px);\n        box-shadow: 0 10px 30px rgba(255, 107, 53, 0.3);\n      }\n      .highlight-box {\n        background: linear-gradient(135deg, #1a1a1a 0%, #0a0a0a 100%);\n        border-left: 4px solid #ff6b35;\n        padding: 25px;\n        margin: 30px 0;\n        border-radius: 0;\n      }\n      .highlight-box strong {\n        color: #ffffff;\n        font-size: 16px;\n        text-transform: uppercase;\n        letter-spacing: 1px;\n        display: block;\n        margin-bottom: 15px;\n      }\n      .highlight-box ul {\n        margin: 15px 0 0 0;\n        padding-left: 20px;\n        color: #cccccc;\n      }\n      .highlight-box li {\n        margin: 10px 0;\n        line-height: 1.6;\n      }\n      .manifesto {\n        background: #111111;\n        padding: 30px;\n        margin: 30px 0;\n        border-top: 2px solid #ff6b35;\n        border-bottom: 2px solid #ff6b35;\n      }\n      .manifesto p {\n        font-size: 14px;\n        line-height: 1.8;\n        color: #aaaaaa;\n        margin: 0 0 15px 0;\n      }\n      .manifesto p:last-child {\n        margin-bottom: 0;\n      }\n      .footer {\n        background-color: #000000;\n        color: #666666;\n        padding: 40px 30px;\n        text-align: center;\n        font-size: 13px;\n        border-top: 1px solid #222222;\n      }\n      .footer p {\n        margin: 10px 0;\n      }\n      .footer strong {\n        color: #ff6b35;\n      }\n      .signature {\n        margin-top: 40px;\n        padding-top: 30px;\n        border-top: 1px solid #222222;\n      }\n      .signature strong {\n        color: #ff6b35;\n        font-size: 18px;\n        letter-spacing: 2px;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"header\">\n        <div class=\"logo-text\">WELCOME</div>\n        <h1>LET'S MAKE<br /><span class=\"legacy\">HISTORY</span></h1>\n        <div class=\"subheading\">• Thank you for your support •</div>\n      </div>\n\n      <div class=\"content\">\n        <p class=\"greeting\">Yo, welcome to the crew! 💪</p>\n\n        <p>\n          Unfassbar happy, dass du mich auf Ko-fi supportest! Dein Support geht\n          direkt ans Team und fließt zu 100 % in alle Projekte. 🎉 Du machst\n          damit möglich, was ich liebe, und zusammen bauen wir etwas, das\n          bleibt.\n        </p>\n        <p>\n          Als ehemaliger Pro-Spieler und Fulltime Streamer habe ich über die\n          Jahre gelernt: Es geht nicht nur um den Content, sondern um die\n          Menschen dahinter, um Legenden wie dich.\n        </p>\n\n\n        {{ $json.membershipTier == \"Legenden Support\" ? `  \n        <div class=\"highlight-box\">  \n            <strong>Was dich hier erwartet:</strong>  \n            <ul>  \n              <li>Alles aus dem Don & Nyko Support</li>  \n              <li>Erwähnung im Outro von „Am Tisch mit…\"</li>  \n              <li>Persönliche Autogrammkarte</li>  \n              <li>Spezieller Nyko-Content</li>  \n              <li>Exklusives VIP-Q&A auf Discord</li>  \n            </ul>  \n        </div>  \n        ` : $json.membershipTier == \"Nyko Support\" ? `  \n        <div class=\"highlight-box\">  \n            <strong>Was dich hier erwartet:</strong>  \n            <ul>  \n              <li>Alles aus dem Don Support</li>  \n              <li>Steam Sign</li>  \n              <li>VIP-Badge Discord</li>  \n              <li>Erwähnung im Outro aller Videos (außer „Am Tisch mit…\")</li>  \n              <li>Behind-the-Scenes Content</li>  \n              <li>Monatliche Giveaways</li>  \n              <li>Persönliche Antworten auf deine Fragen</li>  \n            </ul>  \n        </div>  \n        ` : $json.membershipTier == \"Don Support\" ? `  \n        <div class=\"highlight-box\">  \n            <strong>Was dich hier erwartet:</strong>  \n            <ul>  \n              <li>Vorab-Zugang zu jeder neuen „Am Tisch mit…\"-Folge</li>  \n              <li>Shoutout im Stream</li>  \n              <li>Priorisierung bei Viewergames</li>  \n              <li>Exklusives Meet & Greet auf der IEM Cologne</li>  \n              <li>Persönlicher Geburtstagsgruß</li>  \n              <li>Eigene Discord-Rolle</li>  \n            </ul>  \n        </div>  \n        ` : '' }}  \n\n\n        <p>\n          Ob Gaming, Life Updates oder einfach nur chillen und zusammen was\n          erleben – hier bist du Teil der Family, nicht nur Zuschauer\n        </p>\n\n        <p>\n          Damit wir dir alles Nötige zukommen lassen können, fülle bitte das\n          Formular aus:\n        </p>\n\n        <p style=\"text-align: center\">\n          <a href=\"{{ $json.tallyFormURL }}\" class=\"cta-button\"\n            >Formular ausfüllen</a\n          >\n        </p>\n\n        <div class=\"signature\">\n          <p>\n            Ihr seid einfach unfassbar... Einfach ein fettes\n            <strong style=\"color: #ff6b35\">DANKE</strong> an dich! ❤️\n          </p>\n\n          <p>\n            Lass uns gemeinsam durchstarten, krasse Vibes schaffen und legendäre\n            Momente erleben.\n          </p>\n\n          <p style=\"margin-top: 25px; color: #cccccc\">\n            Beste Grüße,<br />\n            <strong style=\"color: #ff6b35; font-size: 18px; letter-spacing: 2px\"\n              >ZONIXX</strong\n            >\n          </p>\n        </div>\n      </div>\n\n      <div class=\"footer\">\n        <p><strong>Thank you for your support, legends!</strong></p>\n        <p>Du bist einfach unfassbar! 🙏</p>\n        <p>Bei Fragen kannst du dich jederzeit melden.</p>\n      </div>\n    </div>\n  </body>\n</html>\n","options":{"senderName":"Philipp Haunstetter"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1008,-880],"id":"1fa2d117-b9a0-458d-be08-94936ad789f6","name":"Gmail → Welcome & Setup Message","webhookId":"51fc45df-dc2d-4ee2-8fa1-d13a68c80574","credentials":{"gmailOAuth2":{"id":"6chJdKSSe5ai5i8j","name":"Gmail account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $('Row -> Set up new User').item.json.Tier }}. {{ $('Row -> Set up new User').item.json.User }} ist seit heute mit dabei!"},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,-880],"id":"09a065b3-5f62-4702-9733-fd1ed473bc20","name":"Sub -> Notification \"New Member\"","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"704c7313-6788-4cda-883b-62912c410e37","name":"email","value":"={{ $json['E-Mail'] }}","type":"string"},{"id":"3291cf28-5103-41d1-994d-561d09ce7877","name":"membershipTier","value":"={{ $json.Tier }}","type":"string"},{"id":"ec3dc8dd-f700-482b-b2eb-0776b44d94a9","name":"membershipRow","value":"={{ $json.row_number }}","type":"number"},{"id":"1359feb4-92c1-4f85-8d18-8e76216f1676","name":"currentAmount","value":"={{ $json['Amount / Month'] }}","type":"number"},{"id":"7488b065-175c-4534-846b-01d02ff669b1","name":"currentRevenue","value":"={{ $json.Revenue }}","type":"number"},{"id":"95251f1e-b0fc-463b-a10b-07b27821623d","name":"currentMonths","value":"={{ $json.Months }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,-496],"id":"53724480-0a13-41e0-9a68-4944213fe6b6","name":"Variables → Member Data"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.membershipRow }}","Months":"={{ $json.currentMonths + 1}}","Last Modified Time":"={{ $now.format('yyyy-MM-dd hh:mm:ss')}}","Transaction ID":"={{ $('Filter ? Validate Token').item.json.body.data.kofi_transaction_id }}","Revenue":"={{ $json.currentAmount * ($json.currentMonths + 1) }}"},"matchingColumns":["row_number"],"schema":[{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"User","displayName":"User","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tier","displayName":"Tier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Discord Username","displayName":"Discord Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Discord ID","displayName":"Discord ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitch Username","displayName":"Twitch Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitch UserID","displayName":"Twitch UserID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Steamprofile","displayName":"Steamprofile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Amount / Month","displayName":"Amount / Month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Currency","displayName":"Currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Months","displayName":"Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Birthday","displayName":"Birthday","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Revenue","displayName":"Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total Revenue","displayName":"Total Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Months","displayName":"Total Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Modified Time","displayName":"Last Modified Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created Time","displayName":"Created Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Transaction ID","displayName":"Transaction ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2128,-400],"id":"740501ce-523b-443f-95c4-0f53dd3e6473","name":"Row → Update User Revenue","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03c751c7-8935-4089-9651-816259898354","leftValue":"={{ $json.currentAmount }}","rightValue":"={{ $('Code -> Transform Payment Input').item.json.body.data.amount.toNumber() }}","operator":{"type":"number","operation":"notEquals"}},{"id":"198a6266-ad1d-4e02-886e-9b0f0a88925f","leftValue":"={{ $('Merge').item.json.Tier }}","rightValue":"={{ $('Code -> Transform Payment Input').item.json.body.data.tier_name }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,-496],"id":"82c20d11-07a4-491e-b469-2d593d2bc962","name":"If ? Changes"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d286914-d164-425f-a164-07985184014f","leftValue":"={{ $('Filter ? Validate Token').item.json.body.data.tier_name }} {{ $('Filter ? Validate Token').item.json.body.data.amount.toNumber() }}","rightValue":"={{ $('If ? Changes').item.json.membershipTier }} {{ $('If ? Changes').item.json.currentAmount }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"New Tier & Amount"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Filter ? Validate Token').item.json.body.data.tier_name }}","rightValue":"={{ $('Merge').item.json.Tier }}","operator":{"type":"string","operation":"notEquals"},"id":"42f930cd-1078-4f41-b197-e4588c8a8a10"}],"combinator":"and"},"renameOutput":true,"outputKey":"New Tier"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"965f5cf2-5ad2-4894-b7e5-63c2a3d7a755","leftValue":"={{ $('Code -> Transform Payment Input').item.json.body.data.amount.toNumber() }}","rightValue":"={{ $json.amount }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"New Amount"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2336,-608],"id":"64a7b6ac-283c-4e9b-8848-5003b433aa13","name":"Switch ? Route Changes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef170bc5-a5da-4896-93d6-404969654efd","leftValue":"={{ $json.body.data.verification_token }}","rightValue":"3c5f41b7-4d87-44c3-b0ea-f5724833dda0","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[96,-688],"id":"fe8d5e2d-e09d-4818-b925-73cfa489a53f","name":"Filter ? Validate Token"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Code -> Transform Payment Input').item.json.body.data.is_first_subscription_payment }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"606042fb-8961-4107-9e89-cccebfbb0be5"}],"combinator":"and"},"renameOutput":true,"outputKey":"New Member"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d9935c7-6507-46a3-b529-e6df30a056ae","leftValue":"={{ $('Code -> Transform Payment Input').item.json.body.data.is_first_subscription_payment }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Recurring Member"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[304,-688],"id":"fef25d2e-f53e-4a64-9430-0e348cb394ec","name":"Switch ? Ko-fi Payment Type"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2848,-688],"id":"9c949dcb-ceb1-41b7-a40a-605f46a93575","name":"Discord → Search ID","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6df03d92-c57d-43d0-9fe3-7cf25529f3d9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3056,-688],"id":"5d5775eb-b36e-413b-99dd-b7fd33bffe85","name":"If ? Discord User Present","disabled":true},{"parameters":{"resource":"member","operation":"roleRemove","guildId":{"__rl":true,"mode":"list","value":""},"userId":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3344,-832],"id":"7592c299-7762-4f6b-8ee9-bde0228bb311","name":"Discord → Remove Old Role","webhookId":"c35ad718-74e0-4ce1-861e-86594bfd78d7","disabled":true},{"parameters":{"resource":"member","operation":"roleAdd","guildId":{"__rl":true,"mode":"list","value":""},"userId":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3552,-832],"id":"692d85ea-90d5-4e63-b493-99e79ea1191e","name":"Discord → Add New Role","webhookId":"c35ad718-74e0-4ce1-861e-86594bfd78d7","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3344,-560],"id":"d819bb00-47ca-4dd3-9886-2bb32435cdeb","name":"Gmail → Join Discord Server Message","webhookId":"2e23cd2b-2aff-4f8c-8a9a-19e1653597a3","credentials":{"gmailOAuth2":{"id":"6chJdKSSe5ai5i8j","name":"Gmail account"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $json.membershipTier }} Support."},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3776,-832],"id":"0d22097d-099b-44ba-a029-9593fce14fd7","name":"Sub -> Notification \"Changed Tier\"","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If ? Changes').item.json.membershipRow }}","Tier":"={{ $('Filter ? Validate Token').item.json.body.data.tier_name }}","Months":"1","Revenue":"={{ $('Filter ? Validate Token').item.json.body.data.amount.toNumber() }}","Total Revenue":"={{ $json.totalRevenue + $json.currentRevenue }}","Total Months":"={{ $json.totalMonths + $('If ? Changes').item.json.currentMonths }}","Last Modified Time":"={{ $now.format('yyyy-MM-dd hh:mm:ss')}}","Transaction ID":"={{ $('Code -> Transform Payment Input').item.json.body.data.kofi_transaction_id }}"},"matchingColumns":["row_number"],"schema":[{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"User","displayName":"User","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tier","displayName":"Tier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Discord Username","displayName":"Discord Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Discord ID","displayName":"Discord ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitch Username","displayName":"Twitch Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitch UserID","displayName":"Twitch UserID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Steamprofile","displayName":"Steamprofile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Amount / Month","displayName":"Amount / Month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Currency","displayName":"Currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Months","displayName":"Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Birthday","displayName":"Birthday","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Revenue","displayName":"Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Revenue","displayName":"Total Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Months","displayName":"Total Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Modified Time","displayName":"Last Modified Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created Time","displayName":"Created Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Transaction ID","displayName":"Transaction ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2608,-592],"id":"f402d6c9-7e0f-4c2f-8398-3d7b60ca2e1e","name":"Row → Update User Membership Tier","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Variables → Member Data').item.json.membershipRow }}","Tier":"={{ $('Filter ? Validate Token').item.json.body.data.tier_name }}","Amount / Month":"={{ $('Filter ? Validate Token').item.json.body.data.amount.toNumber() }}","Months":"1","Revenue":"={{ $('Filter ? Validate Token').item.json.body.data.amount.toNumber() }}","Total Revenue":"={{ $json.totalRevenue }}"},"matchingColumns":["row_number"],"schema":[{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"User","displayName":"User","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tier","displayName":"Tier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Discord Username","displayName":"Discord Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Discord ID","displayName":"Discord ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitch Username","displayName":"Twitch Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitch UserID","displayName":"Twitch UserID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Steamprofile","displayName":"Steamprofile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Amount / Month","displayName":"Amount / Month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Currency","displayName":"Currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Months","displayName":"Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Birthday","displayName":"Birthday","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Revenue","displayName":"Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Revenue","displayName":"Total Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Months","displayName":"Total Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Modified Time","displayName":"Last Modified Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created Time","displayName":"Created Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transaction ID","displayName":"Transaction ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2608,-784],"id":"c9fe94ec-8b5f-430a-8320-89b433a0a56c","name":"Row → Update User Membership Tier & Amount","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2608,-416],"id":"695544cf-2a23-47d9-b6f2-a17cd3aaf5a7","name":"Row → Update User Membership Amount","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $json.membershipTier }} Support."},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2848,-416],"id":"2747dc82-a99e-4123-ac32-17c7b4ded5d8","name":"Sub -> Notification \"Changed Amount\"","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $json.membershipTier }} Support."},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3552,-560],"id":"9237dc1b-8925-4d6b-a452-4c4965e491eb","name":"Sub -> Notification \"Discord Reminder\"","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $json.membershipTier }} Support."},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2336,-400],"id":"5045b67f-c166-48bc-95f4-ce9242e3e399","name":"Sub -> Notification \"Recurring Payment\"","disabled":true},{"parameters":{"path":"0b00c951-0a41-47be-bdcf-cc8023a89199","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,448],"id":"7434d08d-0754-44a5-9e22-bb6edbbd5f2d","name":"Webhook → Incoming Form Completion","webhookId":"0b00c951-0a41-47be-bdcf-cc8023a89199","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-144,448],"id":"28b92141-a558-4cc3-ab0d-63b108892acd","name":"Row → Search Membership Record","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[64,448],"id":"e38c2271-f847-42fb-8dc6-a592f67a197b","name":"Filter ? Validate Membership Type","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[272,448],"id":"e215a643-e5f0-4679-bbc4-9ef98e05a2bc","name":"Row → Update User Data","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,576],"id":"a0cf0b6e-e3b3-49fa-975c-705d7956d457","name":"Variables → Prepare Dates","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45d47005-ec0f-4023-85bc-7151aaef429a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[768,576],"id":"00e602ed-cb60-46cb-98ea-939de05643dd","name":"Filter ? Recent Birthday","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[976,576],"id":"74e0da0d-5b38-4453-933d-bfc81008251e","name":"Gmail → Send After Birthday Mail","webhookId":"e66ba5c8-0263-4227-9434-4a5257a4cb79","credentials":{"gmailOAuth2":{"id":"6chJdKSSe5ai5i8j","name":"Gmail account"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $json.membershipTier }} Support."},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1200,576],"id":"321da5bf-593b-40b6-ae3b-5b5640e532d1","name":"Sub -> Notification \"After Birthday Mail\"","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6df03d92-c57d-43d0-9fe3-7cf25529f3d9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,304],"id":"1fc5995c-3965-473e-9f43-d94255ebc7ff","name":"If ? Discord Member Present","disabled":true},{"parameters":{"resource":"member","operation":"roleAdd","guildId":{"__rl":true,"mode":"list","value":""},"userId":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[976,208],"id":"ec1477de-0cc8-4270-9f85-f88537021942","name":"Discord → Add Membership Role","webhookId":"864733b1-ad07-472c-97c4-782d2da536d6","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[976,384],"id":"2769939b-bfa8-4d85-938d-b72188186e00","name":"Gmail → Join Discord Server Reminder","webhookId":"6c3289b7-0bab-4470-8992-8208fb209127","credentials":{"gmailOAuth2":{"id":"6chJdKSSe5ai5i8j","name":"Gmail account"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $json.membershipTier }} Support."},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1200,384],"id":"63877498-f4bb-4890-a851-3b3ee56223c4","name":"Sub -> Notification \"New Member Discord Invitation\"","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1200,208],"id":"580d95c9-b483-4379-94f4-93bf11f238c0","name":"Row → Update Discord Check","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reason":"NEW Member","notification":"=A new member joined the {{ $json.membershipTier }} Support."},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1424,208],"id":"d9846028-2577-48c4-a57f-b71daf31669a","name":"Sub -> Notification \"Added Discord Role\"","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,304],"id":"a4fd4482-638a-4257-b9f4-2e12b4ff6937","name":"Discord → Search New Member","disabled":true},{"parameters":{"content":"## Setup & Thoughts\nWhen a new Member joins the community he gets a dynamic Tally.so form to fill out. The data is used to make sure the benefits can be applied.\n\n### Resources & Documentation\nThe Flowchart for this part of the automation can be found [here](https://miro.com/app/board/uXjVJ2jelZ0=/?focusWidget=3458764646951938688).","height":720,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,128],"id":"e95685b6-339f-458a-a841-2a9f4b3dfb05","name":"Sticky Note1"},{"parameters":{"content":"# Initial Membership Setup","height":80,"width":5376,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,16],"id":"65672f02-8286-47a9-91f5-fbe7fc518179","name":"Sticky Note2"},{"parameters":{"content":"## Setup & Thoughts\nThe most complex part of the automation. It handles the incoming payment cases from Ko-fi & we will need to handle various scenarios.\n\n### Resources & Documentation\nThe Flowchart for this part of the automation can be found [here](https://miro.com/app/board/uXjVJ2jelZ0=/?focusWidget=3458764646848629674).","height":880,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-960],"id":"838a3364-7602-48b8-b300-3e2da6f0410c","name":"Sticky Note3"},{"parameters":{"content":"# Scheduled Benefits Check","height":80,"width":4160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,976],"id":"bae4a7ab-f77d-480a-b729-16b2bce1dbbc","name":"Sticky Note4"},{"parameters":{"content":"## Setup & Thoughts\nThis part of the automation regularly checks if a user is now present on the Discord server and appends roles if required.\n\n### Resources & Documentation\nThe Flowchart for this part of the automation can be found [here](https://miro.com/app/board/uXjVJ2jelZ0=/?focusWidget=3458764646951938688).\n\n### Section of the Workflow\nLet's regularly check for missing Discord Members and apply the appropriate Membership Role.","height":336,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,1088],"id":"f692cb99-5a32-4da4-aad8-757814e7fcc5","name":"Sticky Note5"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,1200],"id":"70dd6724-64f8-4ddc-ab90-48d989e87ab6","name":"Schedule @ Every Hour","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-144,1200],"id":"9d097771-f2ca-4b2d-8633-cf7c997382f2","name":"Row → Get Members","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[64,1200],"id":"19c8ea1e-ee3a-4096-b008-20f0610f340f","name":"Discord → Search Missing Member","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[272,1200],"id":"967ec7c0-eb56-4948-b64d-124a31376c93","name":"Filter ? Member is present","disabled":true},{"parameters":{"resource":"member","operation":"roleAdd","guildId":{"__rl":true,"mode":"list","value":""},"userId":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[480,1200],"id":"e9773fd3-70e1-457d-bd53-3db5f9fe575a","name":"Discord → Add Membership Role1","webhookId":"7434ddc1-9ac5-4fa2-a0ac-46173170d40e","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,1200],"id":"42a4e379-5b5e-4da6-b4bb-d7b3d169d55e","name":"Row → Update Discord Check","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,1200],"id":"76205a26-1372-47db-ad27-d53b501e4e92","name":"Sub -> Notification \"Discord Benefit Applied\"","disabled":true},{"parameters":{"content":"# Membership Expiry","height":80,"width":4160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,1552],"id":"9fa8bd89-626e-4fe5-ba2b-4cee4ac46527","name":"Sticky Note6"},{"parameters":{"content":"## Setup & Thoughts\nIf no recurring payment is received after 35 days, the member will be set to Inactive and the benefits will be withdrawn.\n\n### Resources & Documentation\nThe Flowchart for this part of the automation can be found [here](https://miro.com/app/board/uXjVJ2jelZ0=/?focusWidget=3458764647004851188).\n\n### Section of the Workflow\n~~Let's regularly check for missing Discord Members and apply the appropriate Membership Role.~~","height":544,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,1664],"id":"413b7781-a330-4566-923c-600d55184718","name":"Sticky Note7"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-368,1872],"id":"0b2e3794-f643-49d7-9868-37f8a16fcda0","name":"Schedule @ 6:00 Every Day","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-144,1872],"id":"64017279-1a78-4f98-b5ed-62071170f5ed","name":"Row → Get All Members","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1872],"id":"09446171-8be3-42cf-a038-7a0e466cede8","name":"Code → Transform Last Modified Date","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[304,1872],"id":"d32cc409-de0d-4c1f-9183-83a8b76d388a","name":"Filter ? Payment Overdue","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[528,1968],"id":"5beabd4f-7b52-4cd7-a1ce-c788486c8b02","name":"Row → Update Status","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[528,1776],"id":"b61dedf9-0c86-49e4-b87b-8fc24842e614","name":"Filter ? Discord Check  is TRUE","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[752,1776],"id":"2063ba72-25ab-4ed8-9d42-4a0027ebb015","name":"Discord → Search Member","disabled":true},{"parameters":{"guildId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[976,1776],"id":"b828b15a-a877-443a-9781-416d83c3c1af","name":"Discord → Remove Membership Role","webhookId":"e2dd9df4-0e41-4fcd-af83-c2e1d64694f8","disabled":true},{"parameters":{"content":"# Membership Tier Changes","height":80,"width":4160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,2304],"id":"cf2f03a3-32eb-402e-83d9-320e3601c9b2","name":"Sticky Note8"},{"parameters":{"content":"## Setup & Thoughts\nA Member could change the Tier for the upcoming month. In this case we need to make sure he gets the new benefits and we enrich the the Member Data.\n\n### Resources & Documentation\nThe Flowchart for this part of the automation can be found [here](https://miro.com/app/board/uXjVJ2jelZ0=/?focusWidget=3458764647177150501).\n\n### Section of the Workflow\n~~Let's regularly check for missing Discord Members and apply the appropriate Membership Role.~~","height":544,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,2416],"id":"a0b38fbe-c260-4fab-9a44-75973663150d","name":"Sticky Note9"},{"parameters":{"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-112,2640],"id":"58430532-e245-4eaa-8224-40a8e78058c8","name":"Filter ? Not Empty Tier","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[112,2640],"id":"3022dec2-116d-4bba-b115-7e0c654920e1","name":"Row → Get Row Data","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4261d486-855a-495b-bab8-37d6b798da7e","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Don"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"019a1fe5-88b1-4645-b10b-59ae999959ce","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nyko"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07c925fb-0ccc-427e-8e78-8d1f8d78cda3","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Legenden"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[336,2624],"id":"30623ddd-b6a5-4cf6-bc16-44c014071509","name":"Switch → Get New Tier","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,2816],"id":"bec79783-1432-4722-86d2-4b079818ea1d","name":"Variables → Set Form Data","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,2400],"id":"b5261db5-7b4a-4404-ac10-24d1643ec5db","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[976,2576],"id":"bf983222-5f66-4970-8a50-9a128f848d2c","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"content":"# Daily Birthday Check","height":80,"width":4160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,3056],"id":"03458081-7460-45c9-881e-9f5dc2465654","name":"Sticky Note10"},{"parameters":{"content":"## Setup & Thoughts\nA Member could change the Tier for the upcoming month. In this case we need to make sure he gets the new benefits and we enrich the the Member Data.\n\n### Resources & Documentation\nThe Flowchart for this part of the automation can be found [here](https://miro.com/app/board/uXjVJ2jelZ0=/?focusWidget=3458764647264249818).\n\n### Section of the Workflow\n~~Let's regularly check for missing Discord Members and apply the appropriate Membership Role.~~","height":544,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,3168],"id":"749acc4e-eb67-4ca4-8c12-327cd05121a2","name":"Sticky Note11"},{"parameters":{"content":"# Daily Birthday Check — Stream Preparation","height":80,"width":4160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,3808],"id":"daf0a520-855c-49ba-a506-f86de331e9c5","name":"Sticky Note12"},{"parameters":{"content":"## Setup & Thoughts\nA Member could change the Tier for the upcoming month. In this case we need to make sure he gets the new benefits and we enrich the the Member Data.\n\n### Resources & Documentation\nThe Flowchart for this part of the automation can be found [here](https://miro.com/app/board/uXjVJ2jelZ0=/?focusWidget=3458764647276130307).\n\n### Section of the Workflow\n~~Let's regularly check for missing Discord Members and apply the appropriate Membership Role.~~","height":544,"width":496,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,3920],"id":"70fd8b50-9c63-4ec2-8204-a47f9271d93c","name":"Sticky Note13"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,4048],"id":"23d5064a-c0da-4d23-955d-0e060e1c7f9d","name":"Schedule Trigger","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-112,4048],"id":"44be17e7-9a0f-4bd6-9fc8-33dbc240260f","name":"HTTP Request","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[112,4048],"id":"c052e01c-2b5b-4bd2-bccd-a87a4c28f409","name":"HTTP Request1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[336,4048],"id":"2f8930f0-6448-42d3-a97a-c1e3c0388a30","name":"Filter","disabled":true},{"parameters":{"hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[560,4048],"id":"75502b5b-b958-4ecc-bdd4-44161a148eab","name":"AI Agent","disabled":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,4048],"id":"ce7c1685-bdc0-4dae-89a8-58bebcbc225c","name":"Code in JavaScript","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,4048],"id":"230f00bf-a712-4aee-852b-5ed6d340f0f1","name":"Sub -> Notification \"Stream Birthday Preparation\"","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,4272],"id":"27a53b74-c393-4248-a629-68f69d63342f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"18MXP8OLA3olq9ud","name":"OpenAI: API n8n – newflow.io"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[384,4272],"id":"b81ecec3-9146-4874-9c06-7da9f7501ede","name":"Simple Memory","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[512,4272],"id":"9facc82e-f1d2-4d5c-94c4-226c452c3838","name":"Think","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[640,4272],"id":"f58b579a-058b-4be2-9fbb-c376f756864a","name":"Calculator","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[768,4272],"id":"6d114aca-4c27-46d9-9054-75c27b7826de","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[896,4272],"id":"892cef74-36da-4d12-af81-f8e079da41c6","name":"Get row(s) in sheet in Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1024,4272],"id":"3a90fb42-6d67-42bd-b9c1-236cdface109","name":"Structured Output Parser","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,3424],"id":"92d9a913-9480-41dc-831a-5d40fe89c3f4","name":"Schedule @ Daily 8:30","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,3424],"id":"0d2be7a6-2def-43e8-8a09-e2806e8436c6","name":"Loop Over Items","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[320,3440],"id":"8c3956f7-d816-4625-8546-bde641e867b5","name":"Send a message","webhookId":"efbff4de-6723-4e6a-8cdf-99c187a814c3","credentials":{"gmailOAuth2":{"id":"6chJdKSSe5ai5i8j","name":"Gmail account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,3440],"id":"cfa4a2fa-32c2-4061-a328-f46c7acf35af","name":"Wait","webhookId":"82228445-f4a6-4c3f-b02f-478166a5a2c4","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Xqx3SotF0d7jo1H1","mode":"list","cachedResultUrl":"/workflow/Xqx3SotF0d7jo1H1","cachedResultName":"Administrator Notification"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"notification","displayName":"notification","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[320,3248],"id":"ea6dab16-030a-452a-9d53-aba4b63c4b77","name":"Sub -> Notification \"Birthday Notification\"","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Birthday","lookupValue":"={{ $now }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,3424],"id":"e29e636a-0596-49ee-adc9-0145bd39e8d2","name":"Row → Get Birthday Dates","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"event":"rowUpdate","includeInOutput":"both","options":{"columnsToWatch":["Tier"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-336,2640],"id":"27209591-280c-4dd8-ac12-0365d59fe9b9","name":"Sheets Trigger → Row Updated","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"QpJBQkFBfE67Wvuz","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e44d415c-bb60-4ee7-9ace-3bf296700dd8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,2624],"id":"512343d2-8370-4dad-9005-d2eb0b0b34b3","name":"If","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0beb9dc8-4212-44b1-a222-9a4c0891c764","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,2432],"id":"8c96d3c2-87e9-4d7e-9a10-1c21420c9df3","name":"If1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d0d5cb0-b8e3-4129-b422-8a8f646949ea","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1216,-400],"id":"e0292c33-77e5-401f-8600-70081df70eb9","name":"IF ? Member Name found","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d0d5cb0-b8e3-4129-b422-8a8f646949ea","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,-496],"id":"ecb87daa-f2b6-426c-8f28-9dd7f151854c","name":"IF ? Member Mail found"},{"parameters":{"documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"User"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1008,-400],"id":"147b06c3-80c0-473e-b041-8ee6b2952010","name":"Row → Get User Record Fallback","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1696,-288],"id":"109929e3-f6df-47ec-8ef5-8e38b4e974aa","name":"Sub -> Notification \"No User found for Payment\"","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1472,-288],"id":"f20d2852-a011-43c4-8a27-8bd2e1657d4b","name":"Gmail -> Query User on potential Update","webhookId":"46862b40-0445-45c2-b160-457647ad5880","disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,-496],"id":"5f618a3e-12be-4cdc-8ddd-c0dfd21a4361","name":"Merge"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs","mode":"list","cachedResultName":"zonixx - Ko-fi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Memberships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8gL5lv7lBCXPzYyWaexKLucbnRvHUpmjks4Ui-LYhs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"User":"={{ $json.body.data.from_name }}","E-Mail":"={{ $json.body.data.email }}","Type":"={{ $json.body.data.type }}","Tier":"={{ $json.body.data.tier_name }}","Status":"Active","Amount / Month":"={{ $json.body.data.amount.replace('.',',') }}","Currency":"={{ $json.body.data.currency }}","Months":"1","Last Modified Time":"={{ $now.format('yyyy-MM-dd hh:mm:ss')}}","Created Time":"={{ $now.format('yyyy-MM-dd hh:mm:ss')}}","Transaction ID":"={{ $json.body.data.kofi_transaction_id }}","Revenue":"={{ $json.body.data.amount.replace('.',',') }}"},"matchingColumns":[],"schema":[{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"User","displayName":"User","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tier","displayName":"Tier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Discord Username","displayName":"Discord Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Discord ID","displayName":"Discord ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitch Username","displayName":"Twitch Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitch UserID","displayName":"Twitch UserID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Steamprofile","displayName":"Steamprofile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Amount / Month","displayName":"Amount / Month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Currency","displayName":"Currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Months","displayName":"Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Birthday","displayName":"Birthday","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Revenue","displayName":"Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Revenue","displayName":"Total Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Months","displayName":"Total Months","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Modified Time","displayName":"Last Modified Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created Time","displayName":"Created Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transaction ID","displayName":"Transaction ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,-880],"id":"c9f570bd-eda5-4a81-b502-8a65dc01fba2","name":"Row -> Set up new User","credentials":{"googleSheetsOAuth2Api":{"id":"kP2I4yY6NdHdxVIW","name":"Google: oAuth n8n – newflow.io"}}},{"parameters":{"jsCode":"for (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  try {\n    const body = item.json && item.json.body;\n\n    if (body && body.data != null) {\n      // Parse if string\n      body.data = typeof body.data === 'string' ? JSON.parse(body.data) : body.data;\n\n      // Optionally, merge parsed fields directly into body\n      // Object.assign(body, body.data); // uncomment if you want all fields directly in body\n    }\n  } catch (err) {\n    item.json.parseError = err.message;\n  }\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-688],"id":"5f2251ff-35e7-43e9-bc5f-8535ae8e3a15","name":"Code -> Transform Payment Input"},{"parameters":{"assignments":{"assignments":[{"id":"704c7313-6788-4cda-883b-62912c410e37","name":"newMonths","value":"={{ $json.currentMonths + 1 }}","type":"number"},{"id":"3291cf28-5103-41d1-994d-561d09ce7877","name":"amount","value":"={{ $('Code -> Transform Payment Input').item.json.body.data.amount.toNumber() }}","type":"number"},{"id":"209b16c2-97b5-40df-a645-31e2ed2c8e3d","name":"currentRevenue","value":"={{ $json.currentRevenue }}","type":"number"},{"id":"ec3dc8dd-f700-482b-b2eb-0776b44d94a9","name":"currentMonths","value":"={{ $json.currentMonths }}","type":"number"},{"id":"221de1c1-6015-4385-8139-496353ffe7a8","name":"totalRevenue","value":"={{ $json['Total Revenue'] ? $json['Total Revenue'] : 0 }}","type":"number"},{"id":"1bc1f001-fa4a-4a7d-b113-32c34704b5e3","name":"totalMonths","value":"={{ $json['Total Months'] ? $json['Total Months'] : 0 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2128,-592],"id":"b5d6c12e-7429-4754-b46d-8ede3c0327d6","name":"Variables → Prepare Updated  Values"}],"connections":{"Webhook -> Payment Received":{"main":[[{"node":"Code -> Transform Payment Input","type":"main","index":0}]]},"Variables → Set Welcome Mail Values":{"main":[[{"node":"Gmail → Welcome & Setup Message","type":"main","index":0}]]},"Gmail → Welcome & Setup Message":{"main":[[{"node":"Sub -> Notification \"New Member\"","type":"main","index":0}]]},"Row → Get User Record":{"main":[[{"node":"IF ? Member Mail found","type":"main","index":0}]]},"Variables → Member Data":{"main":[[{"node":"If ? Changes","type":"main","index":0}]]},"If ? Changes":{"main":[[{"node":"Variables → Prepare Updated  Values","type":"main","index":0}],[{"node":"Row → Update User Revenue","type":"main","index":0}]]},"Filter ? Validate Token":{"main":[[{"node":"Switch ? Ko-fi Payment Type","type":"main","index":0}]]},"Switch ? Ko-fi Payment Type":{"main":[[{"node":"Row -> Set up new User","type":"main","index":0}],[{"node":"Row → Get User Record","type":"main","index":0}]]},"Switch ? Route Changes":{"main":[[{"node":"Row → Update User Membership Tier & Amount","type":"main","index":0}],[{"node":"Row → Update User Membership Tier","type":"main","index":0}],[{"node":"Row → Update User Membership Amount","type":"main","index":0}]]},"Discord → Search ID":{"main":[[{"node":"If ? Discord User Present","type":"main","index":0}]]},"If ? Discord User Present":{"main":[[{"node":"Discord → Remove Old Role","type":"main","index":0}],[{"node":"Gmail → Join Discord Server Message","type":"main","index":0}]]},"Discord → Remove Old Role":{"main":[[{"node":"Discord → Add New Role","type":"main","index":0}]]},"Discord → Add New Role":{"main":[[{"node":"Sub -> Notification \"Changed Tier\"","type":"main","index":0}]]},"Row → Update User Membership Tier":{"main":[[{"node":"Discord → Search ID","type":"main","index":0}]]},"Row → Update User Membership Tier & Amount":{"main":[[{"node":"Discord → Search ID","type":"main","index":0}]]},"Row → Update User Membership Amount":{"main":[[{"node":"Sub -> Notification \"Changed Amount\"","type":"main","index":0}]]},"Gmail → Join Discord Server Message":{"main":[[{"node":"Sub -> Notification \"Discord Reminder\"","type":"main","index":0}]]},"Row → Update User Revenue":{"main":[[{"node":"Sub -> Notification \"Recurring Payment\"","type":"main","index":0}]]},"Webhook → Incoming Form Completion":{"main":[[{"node":"Row → Search Membership Record","type":"main","index":0}]]},"Row → Search Membership Record":{"main":[[{"node":"Filter ? Validate Membership Type","type":"main","index":0}]]},"Filter ? Validate Membership Type":{"main":[[{"node":"Row → Update User Data","type":"main","index":0}]]},"Row → Update User Data":{"main":[[{"node":"Discord → Search New Member","type":"main","index":0},{"node":"Variables → Prepare Dates","type":"main","index":0}]]},"Variables → Prepare Dates":{"main":[[{"node":"Filter ? Recent Birthday","type":"main","index":0}]]},"Filter ? Recent Birthday":{"main":[[{"node":"Gmail → Send After Birthday Mail","type":"main","index":0}]]},"Gmail → Send After Birthday Mail":{"main":[[{"node":"Sub -> Notification \"After Birthday Mail\"","type":"main","index":0}]]},"If ? Discord Member Present":{"main":[[{"node":"Discord → Add Membership Role","type":"main","index":0}],[{"node":"Gmail → Join Discord Server Reminder","type":"main","index":0}]]},"Gmail → Join Discord Server Reminder":{"main":[[{"node":"Sub -> Notification \"New Member Discord Invitation\"","type":"main","index":0}]]},"Discord → Add Membership Role":{"main":[[{"node":"Row → Update Discord Check","type":"main","index":0}]]},"Row → Update Discord Check":{"main":[[{"node":"Sub -> Notification \"Added Discord Role\"","type":"main","index":0}]]},"Discord → Search New Member":{"main":[[{"node":"If ? Discord Member Present","type":"main","index":0}]]},"Schedule @ Every Hour":{"main":[[{"node":"Row → Get Members","type":"main","index":0}]]},"Row → Get Members":{"main":[[{"node":"Discord → Search Missing Member","type":"main","index":0}]]},"Discord → Search Missing Member":{"main":[[{"node":"Filter ? Member is present","type":"main","index":0}]]},"Filter ? Member is present":{"main":[[{"node":"Discord → Add Membership Role1","type":"main","index":0}]]},"Discord → Add Membership Role1":{"main":[[{"node":"Row → Update Discord Check","type":"main","index":0}]]},"Row → Update Discord Check":{"main":[[{"node":"Sub -> Notification \"Discord Benefit Applied\"","type":"main","index":0}]]},"Schedule @ 6:00 Every Day":{"main":[[{"node":"Row → Get All Members","type":"main","index":0}]]},"Row → Get All Members":{"main":[[{"node":"Code → Transform Last Modified Date","type":"main","index":0}]]},"Code → Transform Last Modified Date":{"main":[[{"node":"Filter ? Payment Overdue","type":"main","index":0}]]},"Filter ? Payment Overdue":{"main":[[{"node":"Filter ? Discord Check  is TRUE","type":"main","index":0},{"node":"Row → Update Status","type":"main","index":0}]]},"Filter ? Discord Check  is TRUE":{"main":[[{"node":"Discord → Search Member","type":"main","index":0}]]},"Discord → Search Member":{"main":[[{"node":"Discord → Remove Membership Role","type":"main","index":0}]]},"Filter ? Not Empty Tier":{"main":[[{"node":"Row → Get Row Data","type":"main","index":0}]]},"Row → Get Row Data":{"main":[[{"node":"Switch → Get New Tier","type":"main","index":0}]]},"Switch → Get New Tier":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"Variables → Set Form Data","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Sub -> Notification \"Stream Birthday Preparation\"","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get row(s) in sheet in Google Sheets1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Schedule @ Daily 8:30":{"main":[[{"node":"Row → Get Birthday Dates","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Sub -> Notification \"Birthday Notification\"","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Row → Get Birthday Dates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Sheets Trigger → Row Updated":{"main":[[{"node":"Filter ? Not Empty Tier","type":"main","index":0}]]},"IF ? Member Name found":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Gmail -> Query User on potential Update","type":"main","index":0}]]},"IF ? Member Mail found":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Row → Get User Record Fallback","type":"main","index":0}]]},"Row → Get User Record Fallback":{"main":[[{"node":"IF ? Member Name found","type":"main","index":0}]]},"Gmail -> Query User on potential Update":{"main":[[{"node":"Sub -> Notification \"No User found for Payment\"","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Variables → Member Data","type":"main","index":0}]]},"Row -> Set up new User":{"main":[[{"node":"Variables → Set Welcome Mail Values","type":"main","index":0}]]},"Code -> Transform Payment Input":{"main":[[{"node":"Filter ? Validate Token","type":"main","index":0}]]},"Variables → Prepare Updated  Values":{"main":[[{"node":"Switch ? Route Changes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9769abd6-5b60-4408-9131-2e21bc482f4f","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T05:24:51.688Z","createdAt":"2025-11-06T05:24:51.688Z","role":"workflow:owner","workflowId":"4hGxocGduyuUiNh0","projectId":"CdMXQXqUwkZXJFgE"}],"tags":[{"updatedAt":"2025-11-06T05:24:57.197Z","createdAt":"2025-11-06T05:24:57.197Z","id":"L7fBVcH7GEL8aAB9","name":"client"},{"updatedAt":"2025-11-06T05:25:10.698Z","createdAt":"2025-11-06T05:25:10.698Z","id":"X8OpRs5nUAf4NTVS","name":"ko-fi"},{"updatedAt":"2025-11-06T05:24:59.895Z","createdAt":"2025-11-06T05:24:59.895Z","id":"ZXjdjNTDsMDmuWxr","name":"zonixx"},{"updatedAt":"2025-10-29T18:48:02.150Z","createdAt":"2025-10-29T18:48:02.150Z","id":"tsshH72s5gutYy4e","name":"work in progress"}]}
